<nav>
  <div class='nav-container'>
    <div class='navbar-left'>
      <a href='/'>
        <img class='web-logo' src='assets/img/nm-bg.png' alt='web logo' />
      </a>
      <ul class='navbar-links'>
        <li>
          <a href='/' class='link'>Home</a>
        </li>
        <li>
          <a href='/myproject' class='link'>My Project</a>
        </li>
        <li>
          <a href='/testimonial' class='link'>Testimonial</a>
        </li>
      </ul>
    </div>

    <div class='navbar-right'>
      <a href='/contact' class='contact-link'>Contact Me</a>
    </div>

    <div class='hamburger-container'>
      <button type='button' id='hamburgerButton' class='contact-link hamburger-button'>
        ☰
      </button>
    </div>
  </div>

  <ul id='menuList' class='hamburger-menu-list hide-menu'>
    <li><a href='/'>Home</a></li>
    <li><a href='/myproject'>My Project</a></li>
    <li><a href='/contact'>Contact Me</a></li>
    <li><a href='/testimonial'>Testimonial</a></li>
  </ul>
</nav>