{{#>layout title="Contact" users=users}}
  <div class="letter-image">
    <div class="animated-mail">
      <div class="back-fold"></div>
        <div class="letter">
          <div class="letter-border"></div>
          {{!-- <div class="letter-title"></div> --}}
            <a class='btn ' href='/addcontact' >send message</a>
          <div class="letter-context"></div>
          <div class="letter-stamp">
          <div class="letter-stamp-inner"></div>
          </div>
        </div>
      <div class="top-fold"></div>
        <div class="body"></div>
        <div class="left-fold"></div>
      </div>
      <div class="shadow"></div>
    <div>
        <h1  style="color: white">Touch Me</h1>
      </div>
  </div>
{{/layout}}