  {{#> layout title="Home"}}
    <div class='cotainer'>
      <div class='cotainer-card'>
        <div class='card-list'>
          <div class='card-title'>
            <h1 class="nameprofil">Halo I'M Adi Wijaya</h1>
            <p class="text-profil">
              Hi i'm usually called adi. i was born in 2002 and am now 22 years old. my birthplace is indramayu, mango city, i like to look at people's webset and make it. my hobbies are many, one of which is mobile lagend and reading
              related to the latest technology. i graduated from university of technology yogyakarta informatics engineering in 2024 graduated and I attended the Dumbways bootcamp to help me deepen the world of fullstack dev. and add
              connections, hopefully graduated with a useful sekil and entrusted to be channeled in Dumbways work partners.
            </p>
            <div class='card-btn-link'>
              <a href='/contact' class='button'><span>contact</span></a>
              <a class='downlCv' href='assets/CV_ADI.pdf' download><p>
                  Download CV
                  <span><i class='fa-solid fa-download'></i></span></p></a>
            </div>
            <div class='icons'>
              <a href='https://www.linkedin.com/in/adi-wijaya-3a1b312a7/'><i class='fa-brands fa-linkedin'></i></a>
              <a href='https://www.facebook.com/profile.php?id=100024647528584'> <i class='fa-brands fa-square-facebook'></i></a>
              <a href='https://www.instagram.com/adiwijaya_jy/'><i class='fa-brands fa-instagram'></i></a>
              <a href='https://x.com/adiwijaya_jy'> <i class='fa-brands fa-square-x-twitter'></i></a>
            </div>
          </div>
        </div>  
        <div class='card-image'>
          <div class='card-image-right'>
            <div class='card-img' data-tilt data-tilt-glare>
              <img class='box-img' src='./assets/img/profil_1.png' alt='photo' />
              <div class='text-h3'>
                <h5 class="text-profil">Adi Wijaya</h5>
                <h6 class="text-profil">Fullstack Devloper</h6>
              </div>
            </div>
          </div>
        </div>
        <script src='/assets/javascript/vanila-tilt.js'></script>
        <script src='/assets/javascript/navbar.js'></script>
        <script src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js'></script>
        <script>
          var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>"); console console.log(template({ doesWhat: "rocks!" }));
        </script>
      </div>
    </div>
  {{/layout}}
   